{{ 'component-payment-secure.css' | asset_url | stylesheet_tag }}
 
<div class="payment_secure payment_secure--{{ block.settings.align }}">
  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="17" viewBox="0 0 14 17" fill="none">
    <path d="M11.2883 6.5419H10.7013V3.92857C10.7013 2.00652 9.03666 0.446667 6.99992 0.446667C4.96318 0.446667 3.29859 2.00652 3.29859 3.92857V6.5419H2.7115C1.69619 6.5419 0.866589 7.317 0.866589 8.27905V14.8162C0.866589 15.7782 1.69619 16.5533 2.7115 16.5533H11.2883C12.3037 16.5533 13.1333 15.7782 13.1333 14.8162V8.27905C13.1333 7.317 12.3037 6.5419 11.2883 6.5419ZM4.21592 3.92857C4.21592 2.49062 5.46163 1.31524 6.99992 1.31524C8.53822 1.31524 9.78392 2.49062 9.78392 3.92857V6.5419H4.21592V3.92857ZM12.2159 14.8162C12.2159 15.2941 11.8052 15.6848 11.2883 15.6848H2.7115C2.19464 15.6848 1.78392 15.2941 1.78392 14.8162V8.27905C1.78392 7.8011 2.19464 7.41048 2.7115 7.41048H11.2883C11.8052 7.41048 12.2159 7.8011 12.2159 8.27905V14.8162Z" fill="#15433D" stroke="#15433D" stroke-width="0.106667"/>
    <path d="M9.14801 9.75711L6.18907 12.5381L4.85147 11.2809C4.68934 11.1285 4.43803 11.1285 4.2759 11.2809C4.11376 11.4333 4.11376 11.6695 4.2759 11.8219L5.89723 13.3457C5.9783 13.4219 6.08368 13.46 6.18096 13.46C6.27824 13.46 6.39174 13.4219 6.4647 13.3457L9.70737 10.2981C9.8695 10.1457 9.8695 9.90949 9.70737 9.75711C9.54523 9.60473 9.29393 9.60473 9.13179 9.75711H9.14801Z" fill="#15433D"/>
  </svg>
  <p>{{ block.settings.text }}</p>
</div>
 
<style>
  .payment_secure svg {
    width: {{ block.settings.icon_size }}px;
  }
</style>